:root{
    --vermelho: #E50914;
    --preta: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

                /*corpo*/

body{
    background: var(--preta);
    font-family: Arial;
    color: white;
}

header .container{  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;  
    margin-right: 50px;
}

header .logo{
    /*color: var(--vermelho);
    font-family: "arial black";
    font-size: 40px;*/
    margin-top: 10px;
    margin-left: 50px;
   
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 15px;
    
}

header nav a:hover{
    color: #fff;
}

                /*capa*/

.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.30), rgba(0,0,0,.30)100%), url('/img//capa/capa-dirilis.ertug.jpg');
    height: 750px;
    background-size: cover;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-bottom: 10px;
    margin-top: 10px;
}

.titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: px;
    font-size: 12px;
    transition: .8s ease all;
    cursor: pointer;
}

.botao:hover{
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 8px;
}

.minha-lista{
    position: relative;
}

.sub-titulo{
    position: absolute;
    bottom: -240px;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
}

.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 35%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carousel-filmes{
    margin-top: 7px;
    margin-left: 18px;
    margin-right: 18px;
}


